:root {
  --background-color: #0f0c29; /*fundo da descriçao*/  
  --color-lightWhite: #f6f5f5;/*aprecentacao e contorno*/
  --color-black: #191622;
  --color-lightBlack: #4d4d4d;
  --color-white: #bfbfbf;
  --color-purple: #483c67;
  --color-purpleLight: #8d79ba;/*descriçao*/
  /*--color-red: #ff5555;
  --color-lightRed: #ff6e67;*/
  --color-whitescrollbar: #ececec;
  --color-LightBlue: #51e3d4;/*colchetes*/
  --color-lightwhite: #f6f5f5; /*letras*/
  --color-lightYellow: #eaf08d;
  --color-orange: #ffbb00; 
  --color-Lilas: #D480FE; /*start*/
  --color-lightMagenta: #ff92d0;
  --color-blue: #3ebbd1;
  --color-Projeto1: #fffafa;
  --color-projeto2:#ffcb05;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--color-whitescrollbar) #333333;
}

body {
  width: 100%;
  height: 100vh;


  /*background-color: #000000;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'><defs><radialGradient id='a' gradientUnits='objectBoundingBox'><stop offset='0' stop-color='%a'/><stop offset='1' stop-color='%23302b63'/></radialGradient><linearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'><stop offset='0' stop-color='%2324243e'/><stop offset='1' stop-color='%230f0c29'/></linearGradient><path id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/><g id='g'><use href='%23s' transform='scale(0.12) rotate(60)'/><use href='%23s' transform='scale(0.2) rotate(10)'/><use href='%23s' transform='scale(0.25) rotate(40)'/><use href='%23s' transform='scale(0.3) rotate(-20)'/><use href='%23s' transform='scale(0.4) rotate(-30)'/><use href='%23s' transform='scale(0.5) rotate(20)'/><use href='%23s' transform='scale(0.6) rotate(60)'/><use href='%23s' transform='scale(0.7) rotate(10)'/><use href='%23s' transform='scale(0.835) rotate(-40)'/><use href='%23s' transform='scale(0.9) rotate(40)'/><use href='%23s' transform='scale(1.05) rotate(25)'/><use href='%23s' transform='scale(1.2) rotate(8)'/><use href='%23s' transform='scale(1.333) rotate(-60)'/><use href='%23s' transform='scale(1.45) rotate(-30)'/><use href='%23s' transform='scale(1.6) rotate(10)'/></g></defs><g ><g transform=''><circle fill='url(%23a)' r='3000'/><g opacity='0.5'><circle fill='url(%23a)' r='2000'/><circle fill='url(%23a)' r='1800'/><circle fill='url(%23a)' r='1700'/><circle fill='url(%23a)' r='1651'/><circle fill='url(%23a)' r='1450'/><circle fill='url(%23a)' r='1250'/><circle fill='url(%23a)' r='1175'/><circle fill='url(%23a)' r='900'/><circle fill='url(%23a)' r='750'/><circle fill='url(%23a)' r='500'/><circle fill='url(%23a)' r='380'/><circle fill='url(%23a)' r='250'/></g><g transform=''><use href='%23g' transform='rotate(10)'/><use href='%23g' transform='rotate(120)'/><use href='%23g' transform='rotate(240)'/></g><circle fill-opacity='0' fill='url(%23a)' r='3000'/></g></g></svg>");
  background-attachment: fixed;
  background-size: cover;*/
	
	
	
/*background-color: #c31432;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237a1264'/%3E%3Cstop offset='1' stop-color='%237a1264' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236d1571'/%3E%3Cstop offset='1' stop-color='%236d1571' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23180c2f'/%3E%3Cstop offset='1' stop-color='%23180c2f' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c31432'/%3E%3Cstop offset='1' stop-color='%23c31432' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23240b36'/%3E%3Cstop offset='1' stop-color='%23240b36' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230f0c29'/%3E%3Cstop offset='1' stop-color='%230f0c29' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
 */



/*background-color: #0f0c29;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23851b7a'/%3E%3Cstop offset='1' stop-color='%23851b7a' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2321167f'/%3E%3Cstop offset='1' stop-color='%2321167f' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e719d2'/%3E%3Cstop offset='1' stop-color='%23e719d2' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230f0c29'/%3E%3Cstop offset='1' stop-color='%230f0c29' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e33c29'/%3E%3Cstop offset='1' stop-color='%23e33c29' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232712e3'/%3E%3Cstop offset='1' stop-color='%232712e3' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;*/


/*
background-color: #c31432;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23620a19'/%3E%3Cstop offset='1' stop-color='%23620a19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23741034'/%3E%3Cstop offset='1' stop-color='%23741034' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2312061b'/%3E%3Cstop offset='1' stop-color='%2312061b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c31432'/%3E%3Cstop offset='1' stop-color='%23c31432' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23240b36'/%3E%3Cstop offset='1' stop-color='%23240b36' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;*/

/*background: linear-gradient(to right, #c31432, #240b36);
*/

/*background-color: #050660;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000d30' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23050660' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%230f055d' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23150459' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%231a0356' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%231d0353' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23200250' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2322024d' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%2324024a' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23250247' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23260244' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23270241' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2328023e' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2328033b' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23290339' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23290336' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23290434' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23280431' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2328052f' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;*/
	
	
	
	
Background-color: #050660;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000d30' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23050660' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%230f055d' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23150459' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%231a0356' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%231d0353' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23200250' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2322024d' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%2324024a' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23250247' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23260244' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23270241' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2328023e' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2328033b' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23290339' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23290336' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23290434' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23280431' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2328052f' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;

}



body::-webkit-scrollbar {
  background-color: #333;
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-whitescrollbar);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-Lilas);
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;

}

.bar {
  width: 3px;
  height: 100%;
  background-color: var(--color-whitescrollbar);
  transition: all 0.3s;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 75%;
  transition: all 0.3s;
}

.divider span {
  height: 3px;
}

.divider span:first-child,
.divider span:last-child {
  width: 50%;
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.divider span:first-child {
  background-image: linear-gradient(90deg, transparent, var(--color-whitescrollbar));
}

.divider span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-whitescrollbar);
  padding: 0px 10px 0px 10px;
}

.divider span:last-child {
  background-image: linear-gradient(90deg, var(--color-whitescrollbar), transparent);
}

.magenta {
  color: var(--color-Lilas);
}

.orange {
  color: var(--color-orange);
}

.white {
  color: var(--color-lightWhite);
}

.yellow {
  color: var( --color-lightwhite);
}

.light-green {
  color: var(--color-LightBlue);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--color-lightWhite);
  color: var(--background-color);
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -150%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1.3rem;
}

.tooltip .tooltiptext p {
  text-align: center;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.progress {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 20px;
	position: relative;
	margin: 10px 0;
	height: 20px;
	width: 100%;
}

.progress-done {
  position: absolute;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	transition: 0.5s ease 0.3s;
}

.progress-text {
  position: absolute;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 920px) {
  .tooltip .tooltiptext {
    left: 0%;
  }
}

@media screen and (max-width: 620px) {
  .tooltip .tooltiptext {
    font-size: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .tooltip .tooltiptext {
    font-size: 0.9rem;
  }
}
